* {
  --background: #111827;
  --secodary: #282a36;
}
body {
  background-color: var(--background);
  overflow: hidden;
  height: 100%;
  padding: 5px;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  gap: 10px;
}
.enviroment-contianer {
  background-image: url(./assets/background/market.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 95%;
  position: relative;
  border-radius: 10px;
}
.editor-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  height: 100%;
}
#run {
  border: none;
  background-color: rgb(25, 116, 25);
  color: white;
  padding: 10px;
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
  border-bottom: 5px solid rgb(18, 79, 18);
  cursor: pointer;
}
.btn-main {
  color: white;
}
#run:hover,
.btn-main:hover {
  background-color: rgb(33, 139, 33);
  transform: translateY(-5px);
}
.character-main {
  width: 10%;
  object-fit: contain;
}
#man {
  position: absolute;
  bottom: 0;
  right: 10%;
}
#woman {
  position: absolute;
  bottom: 3%;
  right: 20%;
  transform: scaleX(-1);
  width: 9%;
}
#kid {
  position: absolute;
  width: 15%;
  top: 15%;
  left: 0%;
}
.FirstAnswerAnimation {
  animation-name: kidAnimation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes kidAnimation {
  25% {
    left: 25%;
    top: 15%;
  }

  75% {
    left: 25%;
    top: 80%;
  }
  100% {
    left: 60%;
    top: 80%;
  }
}
.dialog-box {
  background-image: url(./assets/dialog/dialog_box1.png);
  width: 40%;
  height: 20%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25%;
  right: 25%;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#dialog-text {
  direction: rtl;
  font-weight: 800;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5px;
  font-family: "Tajawal", sans-serif;
  font-size: 0.9rem;
  margin: 0;
}
.question {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  font-weight: 600;
  color: white;
}

.modal-content {
  background-color: var(--secodary);
  border-radius: 15px;
  color: white;
  font-family: "Tajawal", sans-serif;
  direction: rtl;
}
.modal-btn {
  background-color: rgb(25, 116, 25) !important;
  font-weight: 800;
  border-bottom: 5px solid rgb(18, 79, 18);
}
.modal-btn-next {
  background-color: rgb(25, 116, 25) !important;
  font-weight: 800;
  border-bottom: 5px solid rgb(18, 79, 18);
}

.modal-btn-return {
  background-color: rgb(25, 116, 25) !important;
  font-weight: 800;
  border-bottom: 5px solid rgb(18, 79, 18);
}
.stores-enviroment {
  background-image: url(../assets/background/stores.png);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  width: 50%;
  height: 95%;
  display: none;
}
#dialog-text-second {
  text-align: right;
  font-size: 0.8rem;
  font-weight: 800;
  font-family: "Tajawal", sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5px;
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#man-stores {
  position: absolute;
  left: -10%;
  bottom: -1%;
  transform: scaleX(-1);
}

.SecondAnswerAnimation {
  animation-name: manAnimation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes manAnimation {
  10% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}
.dialog-box-fade-in {
  background-image: url(./assets/dialog/dialog_box1.png);
  width: 40%;
  height: 20%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25%;
  right: 5%;
  transform: scaleX(-1);
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: none;
}
#dialog-text-second-man {
  transform: scaleX(-1);
  font-weight: 800;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5px;
  font-family: "Tajawal", sans-serif;
  font-size: 0.9rem;
  margin: 0;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.room-enviroment {
  background-image: url(./assets/background/room.gif);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  width: 50%;
  height: 95%;
  display: none;
}

#ahmed {
  width: 20%;
  transform: scaleX(-1);
  position: absolute;
  left: -2%;
  bottom: 0;
}
.dialog-room {
  position: absolute;
  transform: scaleX(-1);
  left: 12%;
  bottom: 40%;
  height: 26%;
  width: 50%;
}
#dialog-text-third {
  transform: scaleX(-1);
  text-align: right;
  font-size: 0.8rem;
  font-weight: 800;
  font-family: "Tajawal", sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5px;
}

.second-room-enviroment {
  background-image: url(./assets/background/room.gif);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  width: 50%;
  height: 95%;
  display: none;
}
#ahmedSecond {
  position: absolute;
  bottom: -7%;
  right: 30%;
  width: 20%;
}

.second-dialog-room {
  position: absolute;
  bottom: 40%;
  right: 45%;
}
#dialog-text-fourth {
  text-align: right;
  font-size: 0.8rem;
  font-weight: 800;
  font-family: "Tajawal", sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5px;
}
.book {
  width: 10%;
  position: absolute;
}
#book1 {
  bottom: 0%;
  left: 10%;

  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#book2 {
  bottom: 0%;
  left: 13%;

  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#book3 {
  bottom: 0%;
  left: 15%;

  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes booksAnimation1 {
  0% {
    bottom: 0%;
    left: 10%;
  }
  100% {
    bottom: 6%;
    left: 25%;
  }
}
@keyframes booksAnimation2 {
  0% {
    bottom: 0%;
    left: 13%;
  }
  100% {
    bottom: 5%;
    left: 25%;
  }
}
@keyframes booksAnimation3 {
  0% {
    bottom: 0%;
    left: 13%;
  }
  100% {
    bottom: 4%;
    left: 25%;
  }
}
